

fury-form-wizard {

  .card {
    .actions {
      border-top: 1px solid $theme-divider;
    }
  }

}

fieldset {
  border-width: 1px!important;
  border-color: #f5f5f5!important;
}

legend {
  padding: 5px;
}
